<!DOCTYPE html>
<html>
<head>
    <title>Rosie 101</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"
            integrity="sha256-U//RSeH3TR3773Rk+1lAufJnRjEaG5LcdbvGV72kHEM=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"
            integrity="sha256-zBy1l2WBAh2vPF8rnjFMUXujsfkKjya0Jy5j6yKj0+Q=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"
            integrity="sha256-J9EYt6krcoClMPGCdI0BA5vhMVHU/lu9vSnhbx0vfAI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"
            integrity="sha256-FPRibkFAa4FnfmKmMCV4sX162vfxgb3aOyN4kL+3bvA=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/rosie.js"></script>
    <link rel="stylesheet" href="/rosie.css">
</head>

<body ng-app="rosie" ng-controller="MainCtrl as ctrl">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Rosie 101</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/antoniomacri/rosie-101" target="_blank">
                    <span class="fa fa-github"></span> rosie-101</a></li>
                <li><a href="https://github.com/antoniomacri/rosie-pattern-language-java" target="_blank">
                    <span class="fa fa-github"></span> rosie-pattern-language-java</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-4">
            <p class="header">Input</p>
        </div>
        <div class="col-sm-4">
            <p class="header">Pattern</p>
        </div>
        <div class="col-sm-4">
            <p class="header">Output</p>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-4 sidenav editor-container">
            <div id="input-editor" class="editor"></div>
        </div>
        <div class="col-sm-4 text-left editor-container">
            <div id="rpl-editor" class="rpl-editor"></div>
            <div id="pattern-editor" class="pattern-editor"></div>
        </div>
        <div class="col-sm-4 sidenav editor-container">
            <div id="output-editor" class="editor read-only"></div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-12">
            <button ng-click="ctrl.match()">Match</button>
            <button ng-click="ctrl.trace()">Trace</button>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Copyright &copy; 2018 Antonio Macr&igrave;</p>
</footer>

</body>
</html>
